@using SevenMouths.Models
@model List<Share>
@{
    ViewBag.Title = "分享列表";
    SevenMouthsEntities context = new SevenMouthsEntities();
}

<script type="text/javascript">
    $(document).ready(function () {

        $("tr td").corner("10px");
        $("textarea").corner("10px");
        $(".comment-now").corner("10px");
        $("img").corner("5px");

    });
    
</script>

<a href="/Shares/Add"><input type="button" class="button" value="我要添加分享"/></a>

<table class="shares">
    <thead>
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>分类</td>
            <td>分享者</td>
            <td>时间</td>
            <td>顶</td>
            <td>踩</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var share in Model)
        {
            User sharer = context.Users.FirstOrDefault(x => x.UserId == share.SharedBy);
            int upCount = context.Votes.Count(x => x.ShareId == share.ShareId && x.Value > 0);
            int downCount = context.Votes.Count(x => x.ShareId == share.ShareId && x.Value < 0);
            //计算评论的条数	
            int comment = context.Comments.Count(x => x.ShareId == share.ShareId);
            <tr>
                <td>@share.ShareNum</td>
                <td><a href ="@share.Url">@share.Title</a></td>
                <td></td>
                
                <td>@SharesHelper.UserBlock(sharer.UserId, sharer.Name, sharer.MainPictureUrl)</td>
                <td>@share.SharedAt</td>
                <td><a href="javascript:;" onclick="voteToUp(@share.ShareId,$(this));"><img src="/image/up.jpg" alt="" class="head-portrait"/>顶(<span class="upCounts">@upCount</span>)</a></td>
                <td><a href="javascript:;" onclick="voteToDown(@share.ShareId,$(this));"><img src="/image/down.jpg" alt="" class="head-portrait"/>踩(<span class="downCounts">@downCount</span>)</a></td>
            </tr>
            <tr>
            <td colspan="6">
                <ul>
                    @if (comment != 0)
                    {
                        @Html.Partial("_Comments", share)
                    }
                </ul>
            </td>
            </tr>
        }
     </tbody>

     <tfoot>
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>分类</td>
            <td>分享者</td>
            <td>时间</td>
            <td>顶</td>
            <td>踩</td>
        </tr>
    </tfoot>
    </table>
